<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
        Bienvenue à la page principale, Pour l'instant nous n'avous pas d'affichage graphique pour l'application,
        Nous avons déjà introduit plusieurs endpoints api qui renvoient les données de la ville de Nantes sur les activités culturelles
        /activites
        /activites/<Nom de l'activité>
</body>
</html>
