on:
  pull_request:
    types: [opened, edited]

jobs:
  build:
    permissions:
     packages: read
    runs-on: ubuntu-latest
    steps:
      - run: echo 'Building'
      - run: pip install -r "requirements.txt"
      - run: npm install && npm run build
