on:
  pull_request:
    types: [opened, edited]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Node.js version
      uses: actions/setup-node@v1

    - name: npm install, build, and test
      run: |
        npm install
        npm run build --if-present
